@import 'normalize.css';  

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 240, 209, 209;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
::-webkit-scrollbar{ 
  width: 7px; 
}
::-webkit-scrollbar-track{ 
  width: 4px;
  background-color: #650024; 
}
::-webkit-scrollbar-thumb{ 
  width: 20px;
  background-color: #4834ec;
  border-radius: 20px;
  border: 0px solid #010000; 
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgba(var(--background-end-rgb), 0.2),
      rgb(var(--background-end-rgb)) 20%
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
html,body{
  font-size: 8px;

}
@media (min-width: 640px) { 
  html,body{
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  html,body{
    font-size: 12px;
  }
}


@media (min-width: 1024px) { 
  html,body{
    font-size: 14px;
  }
}

@media (min-width: 1280px) { 
  html,body{
    font-size: 14px;
  }
}

@media (min-width: 1536px) { 
  html,body{
    font-size: 16px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
