@import 'normalize.css';  

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 240, 209, 209;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
::-webkit-scrollbar{ 
  width: 7px; 
}
::-webkit-scrollbar-track{ 
  width: 4px;
  background-color: #666565; 
}
::-webkit-scrollbar-thumb{ 
  width: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  border: 0px solid #010000; 
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgba(var(--background-end-rgb), 0.2),
      rgb(var(--background-end-rgb)) 20%
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
html,body{
  scrollbar-width: thin;
  font-size: 8px;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;

}
@supports not (-webkit-scrollbar: 1px) {
  /* Примерные стили для стандартных полос прокрутки (возможно, не все браузеры поддерживают эти свойства) */
  html, body {
    scrollbar-width: thin; /* Для Firefox */
    scrollbar-color: #666565 rgba(255, 255, 255, 0.3); /* Для Firefox */
  }
}

@media (min-width: 640px) { 
  html,body{
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  html,body{
    font-size: 12px;
  }
}


@media (min-width: 1024px) { 
  html,body{
    font-size: 14px;
  }
}

@media (min-width: 1280px) { 
  html,body{
    font-size: 14px;
  }
}

@media (min-width: 1536px) { 
  html,body{
    font-size: 16px;
  }
}

@media (min-width: 2560px) { 
  html,body{
    font-size: 24px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-shadow{
    --text-shadow-color: #000;
    text-shadow: 1px 1px 1px var(--text-shadow-color);
  }
  .text-shadow-2{
    --text-shadow-color: #000;
    text-shadow: 2px 2px 2px var(--text-shadow-color);
  }
}


@keyframes bar-fill {
  100% {
    stroke-dashoffset: 0;
  }
}

@layer components {
  .animate-bar-fill {
    stroke-dasharray: 410;
    stroke-dashoffset: 410;
    animation: bar-fill 8s linear forwards infinite;
  }
}